{% extends "layout.html" %}

{% block title %}
| About
{% endblock %}

{% block main %}
<div class="about">
    <div class="left-about">
        <img src="static/about.png" alt="iPhone">
    </div>
    <div class="right-about">
        <div class="content">
            <h2 class="about-header">Welcome to TastePin!</h2>
            <p class="about-body">TastePin transforms Instagram reels into a curated map of restaurant recommendations. Simply enter an Instagram reel URL featuring a restaurant, and our application will extract the name, location, and cuisine type, pinning these details on an interactive map.</p>
        </div>
    </div>
</div>
{% endblock %}

